.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5c99a;
  position: fixed;
  width: calc(100% - 200px);
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  margin-left: 100px;
}

.logo-container img {
  max-width: 300px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin: 0 40px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

nav ul li a:hover {
  color: #000000;
}
