.homepage {
  color: #ffffff;
}
.homepage h1:nth-last-of-type(1) {
  padding: 20px;

  font-size: 30px;
  background-color: #b5c99a;
  border-radius: 15px;
}
.homepage svg {
  color: gold;
}

@media (min-width: 1020px) {
  .homepage {
    margin: 100px;
  }
}
