@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding-top: 150px;
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #fcf5e5;
  margin: 0;
  box-sizing: border-box;
}

/* @media (min-width: 768px) {
  html {
    margin-left: 100px;
    margin-right: 100px;
  }
} */
