body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
.container {
  position: absolute;  
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;   
  transition: 0.5s;}
.container.dark {
  background: #222;
}
